<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SignUp</title>
</head>

<body>
  <h1>SignUp</h1>
  <form action="/signup" method="post">
    {% csrf_token %}
    <div>
      <label for="fname">First Name</label>
      <input type="text" name="fname" id="fname" required>
    </div>
    <div>
      <label for="lname">Last Name</label>
      <input type="text" name="lname" id="lname" required>
    </div>
    <div>
      <label for="profile_picture">Profile Picture</label>
      <input type="file" name="profile_picture" id="profile_picture" accept="image/*" required>
    </div>
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username"
        placeholder="create a username (only letters and numbers allowed)" pattern="[A-Za-z0-9]+" required>
    </div>
    <div>
      <label for="email">Email Id</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div>
      <label for="confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" id="confirm_password" required>
    </div>
    <div>
      <label for="address_line1">Address Line 1</label>
      <input type="text" name="address_line1" id="address_line1" required>
    </div>
    <div>
      <label for="city">City</label>
      <input type="text" name="city" id="city" required>
    </div>
    <div>
      <label for="state">State</label>
      <input type="text" name="state" id="state" required>
    </div>
    <div>
      <label for="pincode">Pincode</label>
      <input type="text" name="pincode" id="pincode" pattern="[0-9]{6}" required>
    </div>
    <div>
      <button type="submit">SignUp</button>
    </div>
  </form>
</body>

</html>
